@charset "UTF-8";


/* Tela Média */
@media (min-width: 769px) {

    /* Tira o menu de hamburguer */
    header .menu_mobile i {
        display: none;
    }
    /* Adiciona o menu lateral */
    header nav {
        display: inline;
    }

    main {
        width: 100%;
        
    }

    section a {
        width: 50%;
    }

    .sobre-mim p {
        width: 70%;
    }

    .projeto {
        width: 35%;
        margin: 2px;
    }

    .projeto .descricao {
        font-size: 9px;
        width: 100%;
    }

    .projetos section {
        flex-direction: row;

    }
    
    



}

@media (min-width: 1189px) {
    .projeto .descricao {
        font-size: 15px;
        width: 100%;
    }
}

/* Tela Grande */
@media (min-width: 1025px) {

}